{
  "semi": true,
  "singleQuote": false,
  "quoteProps": "as-needed",
  "trailingComma": "all",
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "lf",
  "importOrder": [
    "^(node:.*|os|path|fs|stream|crypto|http|https|url|util|events)$",
    "<THIRD_PARTY_MODULES>",
    "^@slideforge/(.*)$",
    "^[./]"
  ],
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
